#landing-body {
  height: 100vh;
  background-color: #dad7cd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
#logo {
  margin-top: 150px;
  max-width: 100%;
  height: auto;
  display: block;
}
