#table-container {
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.add-table {
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  margin: 0px auto;
}
.text-center {
  margin-top: 1rem;
}
.form-control {
  background-color: white !important;
  text-align: center;
}
.submit-button {
  background-color: #588157;
  border-color: #588157;
  color: white !important;
  transition: box-shadow 0.3s;
}
.submit-button:hover {
  background-color: #ffca2c;
  border-color: #ffca2c;
}
.submit-button:active {
  background-color: #ffca2c !important;
  border-color: #ffca2c !important;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
